# Xcode
build/
DerivedData/
*.xcuserstate
*.xcbkptlist
xcuserdata/
*.hmap
*.pcm
*.d
*.o

# SwiftPM
.build/
*.resolved

# macOS
.DS_Store
**/.DS_Store

# Env
.env
*.env.local

# Vapor
birge-vapor/.build/

# IDE
.idea/
*.swp
