# Xcode
build/
DerivedData/
BIRGEPassenger/DerivedData*/
BIRGEPassenger/.xcode-home/
BIRGEPassenger/.cache/
*.xcuserstate
*.xcbkptlist
xcuserdata/
*.hmap
*.pcm
*.d
*.o

# SwiftPM
.build/
BIRGEPassenger/.swiftpm-cache/
*.resolved

# macOS
.DS_Store
**/.DS_Store

# Env
.env
*.env.local

# Vapor
birge-vapor/.build/

# IDE
.idea/
*.swp
